/* Style for the form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Style for the form input fields */
input, textarea {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Style for the form submit button */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for the form submit button when hovered */
button[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for the form submit button when clicked */
button[type="submit"]:active {
    background-color: #3e8e41;
}

/* Style for the home button */
button[type="home"] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for the home button when hovered */
button[type="home"]:hover {
    background-color: #0000cc;
}

/* Style for the home button when clicked */
button[type="home"]:active {
    background-color: navy;
}

.content {
    margin: 20px;
}